<div class="main-container">
  <p class="m-0">
    <mat-toolbar color="primary" class="justify-content-center">
      <span class="h3">Plotter</span>
    </mat-toolbar>
  </p>
  <mat-drawer-container class="example-container">

    <mat-drawer mode="side" opened class="side-menu">
      <mat-card class="col-header text-center">Measures and dimensions</mat-card>
      <mat-divider class="mb-1 mt-1" style="background-color: brown;"></mat-divider>
      <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="columns"
        [cdkDropListConnectedTo]="[dimensionList,measurementList]" class="list-vertical"
        (cdkDropListDropped)="drop($event)">
        <div class="box-vertical" *ngFor="let item of columns" cdkDrag>{{item}}</div>
      </div>

    </mat-drawer>
    <mat-drawer-content>

      <mat-grid-list cols="9" rowHeight="2:1" class="m-2">

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="w-100 m-3">
            <p class="h5 m-0">Dimension</p>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="7" [rowspan]="1" class="dimension-area">
          <div cdkDropList #dimensionList="cdkDropList" [cdkDropListData]="dimensions"
            cdkDropListOrientation="horizontal" [cdkDropListConnectedTo]="[todoList]" class="list-horizontal"
            (cdkDropListDropped)="drop($event)">
            <div class="box-horizontal" *ngFor="let item of dimensions" cdkDrag>{{item}}</div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="w-100 m-3">
            <button mat-raised-button color="accent" class="w-100" style="height: 50px;"
              (click)="clearDimensions()">Clear</button>
          </div>
        </mat-grid-tile>

      </mat-grid-list>

      <mat-grid-list cols="9" rowHeight="2:1" class="m-2">

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="w-100 m-3">
            <p class="h5 m-0">Measure</p>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="7" [rowspan]="1" class="dimension-area">
          <div cdkDropList #measurementList="cdkDropList" [cdkDropListData]="measurements"
            cdkDropListOrientation="horizontal" [cdkDropListConnectedTo]="[todoList]" class="list-horizontal"
            (cdkDropListDropped)="drop($event)">
            <div class="box-horizontal" *ngFor="let item of measurements" cdkDrag>{{item}}</div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="w-100 m-3">
            <button mat-raised-button color="accent" class="w-100" style="height: 50px;"
              (click)="clearMeasurements()">Clear</button>
          </div>
        </mat-grid-tile>

      </mat-grid-list>
      <mat-divider class="mb-1 mt-1" style="background-color: rgb(0, 0, 0);"></mat-divider>

      <mat-grid-list cols="1" rowHeight="3:1" class="m-2">

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div >
            <canvas baseChart width="600" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas>
          </div>

        </mat-grid-tile>
      </mat-grid-list>



    </mat-drawer-content>
  </mat-drawer-container>

  <footer class="footer">
    <div class="icons">
      <span class="company-name">
        Mohamed AbdelRaouf &copy; 2021, ALL Rights Reserved
      </span>
      <a href="https://www.linkedin.com/in/mohraouf/" target="_blank"><i class="fa fa-linkedin"></i></a>

    </div>
  </footer>
</div>