<div class="main-container">
  <p class="m-0">
    <mat-toolbar color="primary" class="justify-content-center">
      <span class="h3">Plotter</span>
    </mat-toolbar>
  </p>
  <mat-drawer-container class="example-container">

    <mat-drawer mode="side" opened class="side-menu ">

      <mat-card class="mb-2 col-header text-center d-flex justify-content-center align-items-center">
        Dimensions / Measures
      </mat-card>

      <!-- <mat-divider class="mb-1 mt-1" style="background-color: brown;"></mat-divider> -->

      <div cdkDropList id="columns" #columnsList="cdkDropList" [cdkDropListData]="columns"
        [cdkDropListConnectedTo]="[dimensionList,measuresList]" class="list-vertical"
        (cdkDropListDropped)="drop($event)">

        <!-- Loading until retrieving the data -->
        <div class="d-flex align-items-center flex-column" *ngIf="columns&&!columns.length ">
          <mat-spinner class="m-3" diameter="50"></mat-spinner>
          <p>loading . . </p>
        </div>

        <p *ngIf="!columns" class="d-flex justify-content-center text-danger">No Columns Found in the Database !</p>
        <div class="box-vertical" [ngClass]="{'dimensions':item.function=='dimension','measures':item.function=='measure'}"
         *ngFor="let item of columns" cdkDrag>{{item?.name}}</div>

      </div>

    </mat-drawer>
    <mat-drawer-content class="pe-2 ps-2">

      <mat-grid-list cols="9" rowHeight="90" class="m-2">

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="w-100 m-3">
            <p class="h5 m-0">Dimension</p>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="7" [rowspan]="1" class="dimension-area">
          <div cdkDropList id="dimension" #dimensionList="cdkDropList" [cdkDropListData]="dimensions"
            cdkDropListOrientation="horizontal" [cdkDropListConnectedTo]="[columnsList]" class="list-horizontal dimensions-list"
            (cdkDropListDropped)="drop($event)">
            <div class="box-horizontal"[ngClass]="{'dimensions':item.function=='dimension','measures':item.function=='measure'}"
             *ngFor="let item of dimensions" cdkDrag>{{item?.name}}</div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="w-100 m-3">
            <button mat-raised-button color="accent" class="w-100" style="height: 50px;"
              (click)="clearDimensions()">Clear</button>
          </div>
        </mat-grid-tile>

      </mat-grid-list>

      <mat-grid-list cols="9" rowHeight="90" class="m-2">

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="w-100 m-3">
            <p class="h5 m-0">Measure</p>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="7" [rowspan]="1" class="dimension-area">
          <div cdkDropList id="measure" #measuresList="cdkDropList" [cdkDropListData]="measures"
            cdkDropListOrientation="horizontal" [cdkDropListConnectedTo]="[columnsList]" class="list-horizontal measures-list"
            (cdkDropListDropped)="drop($event)">
            <div class="box-horizontal"[ngClass]="{'dimensions':item.function=='dimension','measures':item.function=='measure'}"
             [cdkDragData]="item" *ngFor="let item of measures" cdkDrag>{{item?.name}}</div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="w-100 m-3">
            <button mat-raised-button color="accent" class="w-100" style="height: 50px;"
              (click)="clearMeasures()">Clear</button>
          </div>
        </mat-grid-tile>

      </mat-grid-list>
      <mat-divider class="mb-1 mt-1" style="background-color: rgb(0, 0, 0);"></mat-divider>

      <div style="height: 60%; margin: 10px;">
        <canvas baseChart width="200" height="75" [datasets]="lineChartData" [labels]="lineChartLabels"
          [options]="lineChartOptions" legend="true" chartType="line">
        </canvas>
      </div>

    </mat-drawer-content>
  </mat-drawer-container>

  <footer class="footer">
    <div class="icons">
      <span class="company-name">
        Mohamed AbdelRaouf &copy; 2021, ALL Rights Reserved
      </span>
      <a href="https://www.linkedin.com/in/mohraouf/" target="_blank"><i class="fa fa-linkedin"></i></a>

    </div>
  </footer>
</div>